* {
  background-color: turquoise;
}
h1 {
  text-align: center;
}
div {
  text-align: center;
}

input {
  display: block;
  margin: auto;
}
button {
  width: 20%;
  margin-left: 40%;
  margin-right: 30%;
}
